gradle/
build/
idea/
.idea/
.gradle/
/.idea/

### Properties ###
/src/main/resources/application.yml
/src/main/resources/application-dev.yml
/src/main/resources/application-prod.yml
application-dev.yml
application-dev.yml
